@import "styles/_variables.scss";

.custom-button {
  min-height: 3rem;
  color: $white;
  font-size: 1.6rem;
  text-align: center;
  background-color: $mainColor;
  padding: 0 2rem 0.1rem;
  border: 0.1rem solid $mainColor;
  border-radius: 2.5rem;
  opacity: 1;
  cursor: pointer;
  transition: opacity 300ms linear;
}
